base58==2.1.1
bit==0.8.0
bitcoinaddress==0.1.5
certifi==2019.11.28
cffi==1.15.0
click==7.1.2
coincurve==17.0.0
cryptography==36.0.2
Flask==1.1.1
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
Jinja2==2.11.1
pyTelegramBotAPI==4.4.0
requests==2.23.0
SQLAlchemy==1.4.32
urllib3==1.25.8
WTForms==3.0.1
