<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://tinyurl.com/yavauxw5">
    <title>{{what}}</title>
    <style>
        form.account_form {
            margin-left: auto;
            margin-right: auto;
            max-width: 450px;
            background-color: #949494;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <!--  FORM  -->
    {% if what == 'Authentication' %}
        <form class="account_form" method="post" action="/authentication">
    {% elif what == 'Registration' %}
        <form class="account_form" method="post" action="/registration_2/{{words}}/{{key_fernet}}">
    {% endif %}
        <h3>{{what}}</h3><br>
        <label for="1">Remember these words (required)</label><br>
        <div class="input-group mb-3">
            {% if what == 'Authentication' %}
                <input type="text" id="1" class="form-control" name="words" placeholder="Secret Words" aria-label="words" aria-describedby="basic-addon1" required>
            {% elif what == 'Registration' %}
                <input type="text" id="2" value="{{words}}" class="form-control" name="words" placeholder="words" aria-label="words" aria-describedby="basic-addon1" disabled>
            {% endif %}
        </div>


        <label for="1">Remember this password (required) (8 or more characters)</label><br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" required>
        </div>


        <label for="1">Remember this KEY (required) (8 or more characters)</label><br>
        <div class="input-group mb-3">
            {% if what == 'Authentication' %}
                <input type="text" class="form-control" name="key_fernet" placeholder="Key" aria-label="Key" aria-describedby="basic-addon2" required>
            {% elif what == 'Registration' %}
                <input type="text" value="{{key_fernet}}" class="form-control" name="key_fernet" placeholder="Key" aria-label="Key" aria-describedby="basic-addon2" disabled>
            {% endif %}
        </div>


        <div>
            <div>
                {% if what == 'Authentication' %}
                    <button type="submit" class="btn btn-warning">Login</button>&nbsp;
                    <a href="/registration"><span class="badge badge-dark">registration</span></a>
                {% elif what == 'Registration' %}
                    <button type="submit" class="btn btn-warning">Register</button>&nbsp;
                    <a href="/authentication"><span class="badge badge-dark">authentication</span></a>
                {% endif %}
            </div>
        </div>
    </form>
    <!--  FORM  -->
</body>
</html>