<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://tinyurl.com/yavauxw5">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='css/style.css', v=1)}}">
    <title>Wallets</title>
</head>
<body>
    <!-- NAVIGATION  -->
    <nav class="nav nav-pills nav-fill">
        <a class="{{ elements_nav[0] }}" href="/personal_account">Personal Account</a>
        <a class="{{ elements_nav[1] }}" href="/wallets">Wallets</a>
        <a class="{{ elements_nav[2] }}" href="/settings">Settings</a>
        <a class="{{ elements_nav[3] }}" href="/support">FAQ</a>
    </nav>
    <!-- NAVIGATION  -->
    <!--  CARD BTC  -->
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://tinyurl.com/yavauxw5" alt="Card image cap">
        <div class="card-body">
            <div style="text-align: center" class="alert alert-dark" role="alert">
                BITCOIN
            </div>
            <p class="card-text">This is a peer-to-peer payment system that uses the unit of the same name to account for transactions.</p>
        </div>
        <div class="card-header">
          Your Wallets
        </div>
        <ul class="list-group list-group-flush">
            {% for el in list_wallets %}
                <li class="list-group-item"><a href="/wallet/{{el}}" class="card-link">
                    <button type="button" class="btn six">Wallet # <span>{{ list_wallets.index(el) + 1}}</span></button>
                </a></li>
            {% endfor %}
        </ul>
        <div class="card-body">
            <a style="text-decoration: none; position: relative; left: 37%; transform: translate(-37%, 0);" href="/create_wallet" class="floating-button">Create Wallet</a>
        </div>
    </div>
    <!--  CARD BTC  -->
</body>
</html>